.nice-button {
  background-color: hotpink;
  padding: 10px;
  display: inline-block;
}

.nice-button-modal {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nice-button-modal img {
  max-width: 90%;
  max-height: 90%;
}
